/* BODY */
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        line-height: 18.78px;
    }

    a {
        text-decoration: none;
    }

    a:link{
        color: black;
    }

    a:visited{
        color: initial;
    }

    .body {
        margin: 0 auto;
        padding: 0 50px 0 50px;
        max-width: 1400px;
    }

    .btn {
        background-color: white;
        border: solid 2px #D9D9D9;
        border-radius: 50px;
        transition-duration: 0.3s;
    }

    .btn:hover {
        background-color: #DEEBFF;
    }

    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h2 {
        font-size: 1.375em;
        font-weight: 700;
    }

    h3 {
        font-size: 1.125em;
        font-weight: 700;
    }

    h4 {
        font-size: 1em;
        font-weight: 700;
        line-height: 18.78px;
    }

    html { 
        scroll-behavior: smooth;
    }
    
    i {
        color: #0065FC;
    }

    span.euro{
        font-weight: 600;
    }

    ul {
        list-style-type: none;
    }


/* HEADER */
    .header {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* Top */
        .header-menu {
            display: flex;
            justify-content: space-between;
            margin-bottom: 59px;
        }

        .logo {
            height: 19px;
            float: left;
            margin-top: 44px;
        }

        .menu-nav {
            float: right;
            margin-top: 48px;
        }

        .menu-nav a {
            padding: 0 24.5px 0 24.5px;
            margin-left: 18px;
        }

        a.menu-active{
            font-weight: 500;
        }

        a.menu-active:hover {
            border-top: solid 2px #0065FC;
            color:#0065FC;
            padding-top: 46px;
        }

    /* Search */
        .header-search h2 {
            margin-bottom: 8px;
        }

        .search-location {
            margin: 20px 0 32px 0;
            display: flex;
            flex-direction: row;
            height: 49px;
        }

        .location-i {
            height: 49px;
            width: 50px;
            background-color: #F2F2F2;
            border-radius: 15px 0 0 15px;
        }

        .location-i i{
            color: initial;
            font-size: 1.125em;
        }

        .search-location input {
            padding-left: 20px;
            height: 100%;
            max-width: 250px;
            font-size: 1.125em;
            font-weight: 600;
            color: black;
            border: solid 1px #D9D9D9;
        }
        
        a.btn-search {
            height: 100%;
            width: 132px;
            border-radius: 0 15px 15px 0;
            background-color: #0065FC;
            color:white;
        }

        .media-small{
            display: none;
        }

    /* Filter */
        .search-filter {
            margin-bottom: 35px;
            display: flex;
        }

        .search-filter h4{
            margin-right: 10px;
            align-self: flex-start;
            padding-top: 15px;
        }

        .filter-container{
            width: 100%;
            max-width: 840px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 20px 10px;
        }   

        .search-filter i{
            margin-right: 10px;
        }

        .btn-filter {
            padding: 14px 20px 14px 20px;
            font-size: 1.0625em;
            font-weight: 700;
            line-height: 19.96px;
            height: 100%;
            max-height: 50px;
        }

        .btn-i {
            padding: 7px 10px 9px 10px;
            margin-right: 11px;
        }

        .btn-i i{
            font-size: 0.625em;
        }

        .search-info {
            margin-bottom: 37px;
            display: flex;
            flex-direction: row;
        }
        
        .search-info li{
            display: flex;
            align-items: center;
        }


/* MAIN */
    .main {
        width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }

    .hosting {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    /* Hosting */

        .main-hosting {
            margin-right: 3%;
            background-color: #F2F2F2;
            border-radius: 20px;
            min-height: 618px;
            height: 100%;
            width: 66%;
        }

        .hosting-title {
            margin: 0 0 23px 40px;
            padding-top: 42px;
        }

        .hosting-window {
            width: 100%;
            padding: 0 16px 40px 16px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 30px 0px;
        }

        .hosting-card {
            background-color: #FFFFFF;
            border-radius: 20px;
            margin: 0 10px 0 10px;
            min-width: 215px;
            width: 30.5%;
            border: solid 5px white;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition-duration: 0.3s;
        }

        .hosting-card:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .hosting-card li{
            margin: 0 0 4px 16px;
            font-size: 0.875em;
            line-height: 18.7833px;
        }

        .img-hosting {
            width: 100%;
            height: 120px;
            border-radius: 15px 15px 0 0;
            object-fit: cover;
        }

        .hosting-more {
            margin: 0 0 46px 40px;
        }

        .hosting-more a:hover{
            color:#0065FC;
            transition-duration: 0.3s;
        }

        li.star-size{
            font-size: 1em;        }
    
    /* Popular */
        .main-popular {
            background-color: #F2F2F2;
            border-radius: 20px;
            height: 100%;
            min-height: 618px;
            width: 31.5%;
            min-width: 364px;
        }

        .popular-title {
            padding: 41px 42px 13px 37px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .popular-title i{
            font-size: 1.125em;
            float: right;
        }

        .popular-window {
            padding: 13px 26px 34px 26px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 33px;
        }

        .popular-card {
            overflow: hidden;
            background-color: #FFFFFF;
            border-radius: 20px;
            border: solid 5px #FFFFFF;
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition-duration: 0.3s;
        }

        .popular-card:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .img-popular {
            float:left;
            height: 134px;
            max-width: 127px;
            width: 40%;
            border-radius: 15px 0 0 15px;
            object-fit: cover;
        }

        .popular-info{
            height: 100%;
            line-height: 16.44px;
            padding: 16px 22px 12px 15px;
            display: flex;
            flex-direction: column;
        }
        
        .popular-info p{
            font-size: 0.875em;
            line-height: 16.44px;
        }

        .popular-info h4{
            padding-bottom: 7px;
        }

        .popular-star{
            margin-top: auto;
        }

        span.rating {
            font-size: 0.75em;
            color:#D9D9D9;
        }
    
        span.checked {
            color:#0065FC;
        }
    
    /* Activity */
        .activity-title{
            margin: 0 0 18.47px 0;
        }

        .activity-window{
            height: 445px;
            display: flex;
            justify-content: space-between;
        }

        .activity-card {
            background-color: #FFFFFF;
            border-radius: 20px;
            width: 22.5%;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition-duration: 0.3s;}

        .activity-card:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .img-activity{
            width: 100%;
            height: 100%;
            max-height: 378px;
            border-radius: 20px 20px 0 0;
            object-fit: cover;
        }

        .activity-card-title{
            height: 13%;
            display: flex;
            align-items: center;
        }

        .activity-card h4{
            margin: 0 19px 0 19px;
        }

/* FOOTER */
    .footer{
        height: 225px;
        width: 100%;
        margin: auto;
    }

    .footer-container{
        margin: auto;
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-around;
    }

    .footer ul{
        margin-top: 40px;
    }

    .footer-title{
        margin-bottom: 20px;
    }

    .footer li{
        margin-bottom: 12px;
    }

    .footer-container a:hover{
        color: #0065FC;
    }



            /* ----------------------- */
            /* ---- Media Queries ---- */
            /* ----------------------- */

@media screen and (max-width: 992px){
    /* BODY-992 */
        .body{
            padding: 0 72px 0 72px;
        }

    /* HEADER-992 */
        

    /* MAIN-992    */
        .hosting {
            flex-direction: column;
            justify-content: center;
            margin-bottom: 70px;
        }

        /* Hosting-992 */
            .main-hosting {
                width: 100%;
                margin: 0;
                margin-bottom: 53px;
            }

        /* Popular-992  */ 
            .main-popular{
                min-height: 278px;
                width: 100%;
            }

            .popular-window {
                padding: 26px 26px 48px 26px;
                justify-content: space-evenly;
                gap: 23px;
            }
        
            .popular-card{
                width: 31%;
                min-width: 244px;
                height: 144px;
            }

            .img-popular{
                max-width: 96px;
            }

            .popular-info{
                padding: 7px 5px 7px 10px;
            }

            .popular-info p{
                font-size: 0.8125em;
            }

            .popular-info h4{
                line-height: 16.44px;
                padding-right: 12px;
            }
            

        /* Activity-992 */
            .activity-window{
                height: 267px;
            }

            .activity-card{
                width: 21.65%;
                min-width: 152px;
            }

            .img-activity{
                max-height: 211px;
            }

            .activity-card-title{
                height: 18.5%;
            }
        
    /* FOOTER-992 */
}

@media screen and (max-width: 768px){
    /* BODY-768 */
        .body{
            padding: 0;
            max-width: 500px;
        }

    /* HEADER-768 */
        /* Top-768 */
            .header-menu{
                flex-direction: column;
                align-items: center;
                margin-bottom: 31px;
            }

            .logo{
                width: 61px;
                float:initial;
                margin-top: 21px;
            }

            .menu-nav {
                width: 100%;
                margin-top: 48.56px;
                float: initial;
                display: flex;
                justify-content: space-around;
            }

            .menu-nav a{
                text-align: center;
                width: 50%;
                padding: 0;
                margin: 0;
                font-weight: 500;
                padding-bottom: 23px;
            }

            a.menu-active:hover {
                border-top: none;
                border-bottom: solid #0065FC;
                padding: 0;
                
            }

        /* Search-768 */
            .header-search{
                width: 100%;
                padding: 0 20px 0 20px;
            }

            .header-search h2 {
                margin-bottom: 13px;
            }

            .search-location {
                margin: 36px 0 34px 0;
                justify-content: center;
            }

            .search-location input{
                max-width: 250px;
                width: 100%;
            }


            .media-small{
                display: initial;
            }

            a.btn-search{
                width: 49px;
            }

            i.fa-magnifying-glass{
                color: #FFFFFF;
                font-size: 1.0625em;
            }

            .search-info{
                padding: 0 20px 0 20px;
            }

            .media-large{
                display: none;
            }

        /* Filter-768 */
            .search-filter{
                margin-bottom: 40px;
                max-width: initial;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                gap: 17px 14px;
            }

            .filter-items{
                margin: 0;
            }

            .search-filter h4{
                justify-content: initial;
                width: 100%;
            }

            .btn-filter{
                padding: 16px 16px 14px 13px;
                width: 50%;
                min-width: 160px;
                max-height: 50px;
                font-size: 0.6875em;
            }

            .btn-i{
                align-self: flex-start;
            }

            .btn-i i{
                font-size: 0.75em;
            }

    /* MAIN-768    */ 
        .main{
            margin-bottom: 69px;
        }
        
        .hosting{
            flex-direction: column-reverse;
            margin-bottom: 105px;
        }
        
        /* Popular-768  */ 
            .main-popular{
                background-color: #F2F2F2;
                min-width: initial;
                border-radius: 0;
            }

            .popular-title{
                margin: 0;
                padding: 28px 20px 0 20px;
            }

            .popular-window{
                padding: 26px 20px 47px 20px ;
                width: 100%;
            }

            .popular-card{
                width: 100%;
            }

            .img-popular{
                width: 40%;
                min-width: 127px;
                max-width: initial;
                min-height: 134px;
            }

            .popular-info{
                padding: 16px 13px 12px 15px;
            }
            
        /* Hosting-768 */
            .main-hosting{
            border-radius: 0;
            margin: 0;
            background-color: #fff;
            min-height: initial;
            }

            .hosting-title{
                padding: 26px 0 19px 20px;
                margin: 0;
            }

            .hosting-window{
            padding: 0 20px 0 20px;
            flex-direction: column;
            align-items: center;
            }

            .hosting-card{
                margin: 0;
                width: 100%;
                min-width: initial;
                max-width: initial;
                max-height: 199px;
            }

            .hosting-more{
                display: none;
            }

        /* Activity-768 */
            .activity-title{
                margin: 0;
                padding: 0 0 10px 20px;
            }

            .activity-window{
                padding: 0 20px 0 20px;
                height: initial;
                flex-direction: column;
                justify-content: initial;
                align-items: center;
                flex-wrap: wrap;
                gap: 24px;
            }

            .activity-card{
                width: 100%;
                min-width: initial;
                max-height: 190px;
            }

            .img-activity{
                height: 100%;
                max-height: 131px;
            }

            .activity-card-title{
                height: 100%;
                min-height: 56px;
            }

            .activity-card h4{
                margin-left: 20px;
            }


            
        
    /* FOOTER-768 */
        .footer{
            height: initial;
        }

        .footer-container{
            flex-direction: column;
            padding: 10px 0 50px 33px;
        } 

}